---
import "../styles/global.css";
import Hero from "../components/hero.vue";
import Navigation from "../components/navigation.vue";
import Chat from "../components/chat.vue";
import News from "../components/news.vue";
import Mywork from "../components/mywork.vue";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation client:idle />
		<main class="pb-21">
			<!-- Section Hero -->
			<Hero client:idle />
			<!-- Section My Works -->
			<Mywork client:idle />
			<!-- Section News / Blog -->
			<News />	

			<Chat client:idle />
		</main>
		<footer>

		</footer>
	</body>
</html>
