---
import LayoutBase from "./../layouts/base.astro"
import Featured from "./../../components/work/featured.vue"

const data = {
	title: "My Work - Showcasing Projects & Experience",
  description: "Explore my latest projects, case studies, and experiences as a software engineer. Get insights into my work and skills.",
  image: "/assets/images/work-preview.jpg",
  keywords: "portfolio, projects, software engineer, web app development, mobile app development, case studies, coding, programming",
  showNavigate: true,
  showChat: true,
}
---
<LayoutBase {...data}>
  <section class="m-3 p-5 px-12 text-dark rounded-2xl">
    <h1 class="text-3xl my-4 font-medium">My Works / Projects</h1>
  </section>
  <Featured client:idle />
  <section class="">
    <div class="m-3">
      <div class="flex px-3 items-center gap-1 overflow-hidden rounded-2xl border shadow-own">
        <div class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M11.5 7a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m-.82 4.74a6 6 0 1 1 1.06-1.06l3.04 3.04a.75.75 0 1 1-1.06 1.06z" clip-rule="evenodd"/></svg>
        </div>
        <input type="text" placeholder="Type 3 words for live search..." class="border-none outline-none p-3 rounded-2xl text-sm w-full">
      </div>
    </div>
  </section>
</LayoutBase>